doctype

html
  head
    title IoT OS
  body
    h1 IoT OS Management Console
    p
      a(href="http://localhost:8001/api/system") System
    p
      a(href="http://localhost:8001/api/oic/d") OIC Devices
    p
      a(href="http://localhost:8001/api/oic/p") OIC Platforms
    p
      a(href="http://localhost:8001/api/oic/res") OIC Resources
